* {
  /* margin: 0px; */
  box-sizing: border-box;
}
.upload_photo {
  border: 1px;
  border: dashed;
  border-width: 1px;
  border-radius: 13px;
  border-color: #b2bad0;
}
body {
  background: #e9edf2;
}
.main {
  background-color: #fff;
  border-radius: 10px;
}
.footer {
  border-radius: 10px;
  background-color: #fff;
}
.form-label {
  color: #2b3674;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  padding: 8px;
}
.form-control {
  border-radius: 14px;
}

.cm {
  width: 92px;
  height: 50px;
  border-radius: 16px;
  border: 1px solid #b6bbc7;
  background: #fff;
  color: #2b3674;
  font-size: 15px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: -0.02em;
}
.range {
  display: flex;
  align-items: center;
  gap: 5px;
}
h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #2b3674;
}
.me-md-2 {
  background: transparent;
  color: #2b3674;
  border: none;
}
.btn {
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: center;
}
.form-label::after {
  content: "*";
  color: red;
}
.form-quali {
  color: #2b3674;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: -0.02em;
  text-align: left;
}
.form-check-label {
  font-size: 13px;
  font-weight: 600;
  color: #2b3674;
}
.form-control::placeholder {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #949db9;
}
.form-select {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  color: #949db9;
  padding: 8px;
  border-radius: 16px;
}
.temp{
    white-space: nowrap;
}
.form-control-color{
  width: 100%;
}
input[type=range]::-webkit-slider-thumb{
  background-color:#4318ff;
}
@media  screen and (max-width:576px) {
  .warning {
    font-size: 10px;
  }
  .gender{
    width: 70%;
  }
}
